<h1 class="text-center">Sorteio</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form ng-submit="salva()"
	<div class="form-group">
		<label for="data">Data do sorteio: {{sorteio.data}}</label>
	</div>
	<div class="form-group">
		<label for="status">Status do sorteio: {{sorteio.status}}</label>
	</div>
	<div class="form-group">
		<label for="created_at">Data de criação: {{sorteio.created_at}}</label>
	</div>
	<div>
		<button ng-show="sorteio.status=='ANDAMENTO'" type="submit" class="btn btn-primary">
			Finalizar Sorteio
		</button>
		<button class="btn btn-primary">
			Download da Lista de Números
		</button>
		<a href="#/sorteios" class="btn btn-default">
			Voltar
		</a>
	</div>
	<div class="form-group">
		<label for="cupons">Todos numeros participantes [{{sorteio.cupons.length}} número(s) concorrente(s)]</label>
		<ul>
			<li ng-repeat="cupon in sorteio.cupons">Número: {{cupon.numero}}, Data de registro: {{cupon.created_at}}</li>
		</ul>
	</div>
</form>