<!DOCTYPE html>
<html lang="pt-BR" ng-app="applq">
<head>
	<meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">

	<link rel="stylesheet" href="css/index.min.css">

	<title>APPLQ</title>
</head>
<body ng-controller="MainController">
  {{titulo}}
	
	
	<script src="js/index.min.js"></script>
</body>
</html>